{% block linkcss %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"/>{%endblock%}
{%extends "base.html"%}{%block title%}Sign in{%endblock%}
{%block content %}
<div class="container form-style">
<form method="POST">
    <div class="container">
      <h2>Sign in</h2>
        <div class="mb-3 mb-3-opacity">
          <label for="email" class="form-label form-font">Email address</label>
          <input type="email" class="form-control" id="email" name="email">
          <div id="emailHelp" class="form-text form-font">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3 mb-3-opacity">
            <span class="form-font"> <label for="password" class="form-label form-font">Password</label> <a href="/forgot-password"> Forgot password?</a> </span>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary" style="width: 100%;">Sign In</button>
      <span class="form-font">New to Cubic World? <a href="/sign-up"> Create an account.</a> </span>
      </div>
</form>
</div>
{%endblock%}